.app-nav{
	width: 80%;
	max-width: 600px;
	margin:auto;
	display:block;
	margin-bottom:25px;
	a{
		padding:15px 15px;
		background:$p-color;
		color:#fff;
		&:hover,&.router-link-exact-active{
			background:$s-color;
		}
	}	
}